* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

button {
    border: none;
}

body {
    text-align: center;
}

img {
    cursor: pointer;
}

#box {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#box svg {
    padding-left: 20px;
}

.tirar {
    display: none;
}

.colocar {
    display: none;
}